<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br/>
  <br/>
  <ion-card>
    <h2>Por favor, rellena los datos:</h2>
    <ion-card-header>
    <ion-item>
      <ion-input labelPlacement="floating" value="">Usuario</ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" value="">Contraseña nueva</ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" value="">Repite tu Contraseña</ion-input>
    </ion-item>
    </ion-card-header>
    <ion-button color="dark" class="center" (click)="inicioSesion()">Cambiar contraseña</ion-button>
  </ion-card>

</ion-content>