<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cambiar contraseña</ion-title>
    </ion-toolbar> 
  </ion-header>

  <ion-card>
    <ion-card-header>
    <h2>Por favor, rellena los datos:</h2>

    <ion-item>
      <ion-input labelPlacement="floating" value="">Usuario</ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" value="">Contraseña nueva</ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" value="">Repite tu Contraseña</ion-input>
    </ion-item>
    <ion-button (click)="inicioSesion()">Cambiar contraseña</ion-button>
    </ion-card-header>
  </ion-card>

</ion-content>