<ion-header [translucent]="true" class="barra-herramientas">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>
  <ion-toolbar color= "rgb(3, 46, 92)">
    <ion-title class="titulo-barra">config</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">config</ion-title>
    </ion-toolbar>
  </ion-header>


</ion-content>
