<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-thumbnail class="icono" slot="start">
      <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvrk0EbEt_3hZag8Cw0AKIYUyHoHOftcFnBMUt_pmFew&s" />
    </ion-thumbnail>
    <ion-title>Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-item button detail>
      <ion-icon class="margen-derecho-20" aria-hidden="true" name="calendar-outline" size="large"></ion-icon>
      <ion-label>Ingresar asistencia</ion-label>
    </ion-item>
    <ion-item></ion-item>
    <ion-item></ion-item>
    
  </ion-list>

</ion-content>
