<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-thumbnail class="icono" slot="start">
      <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvrk0EbEt_3hZag8Cw0AKIYUyHoHOftcFnBMUt_pmFew&s" />
    </ion-thumbnail>
    <ion-title>Registro asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-item button detail>
      <ion-icon class="margen-derecho-20" aria-hidden="true" name="calendar-outline" size="large"></ion-icon>
      <ion-label>Registrar asistencia</ion-label>
    </ion-item>
    <ion-item button detail>
      <ion-icon class="margen-derecho-20" aria-hidden="true" name="cog-outline" size="large"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-item>
  </ion-list>
  
    <div class="barra-contenedora">
      <div class="izquierda-acount"></div>
      <div class="center-espace"></div>
      <div class="derecha-out-session"></div>
    </div>


</ion-content>
