<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

  <h1 class="center" size="large">skeleton app</h1>

  <p class="sub-titulo" >aqui comenzó todo</p>

  <ion-list>
      <h4 class="center">Bienvenido!</h4>
    
    <ion-item>
      <ion-input [(ngModel)]="email" id="email" labelPlacement="floating" label="Email" fill="solid">
      </ion-input>
    </ion-item>
  
    <ion-item lass="ion-no-border">
      <ion-input [(ngModel)]="contrasena" id="contraseña" label="Password " type="password" fill="solid" labelPlacement="floating"></ion-input>
    </ion-item>
  </ion-list>
  <div class="item-center">
    <ion-button (click)="getconsultas()" fill="outline" color="dark" class="center"> Sing in  </ion-button>
  </div>
  <div class="item-center contraseña-incorrecta">
    <p> correo o contraseña invalida</p>
  </div> 
</ion-content>
