
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">skeleton app</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="sub-titulo">aki conezo todo</div> 

  <ion-toolbar>
    <ion-title size="small">skeleton app</ion-title>
  </ion-toolbar>

  <ion-input
  type="email"
  fill="solid"
  label="Email"
  labelPlacement="floating"
  helperText="Enter a valid email"
  errorText="Invalid email"
  ngModel
  email
  ></ion-input>
 
</ion-content>
