<ion-header [translucent]="true" color="cartoon-primary">
  <ion-toolbar>
    <ion-title>
      cartoons Wiki
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="cartoon-primary">
  <ion-header  collapse="condense" color="cartoon-primary">
    <ion-toolbar>
      <ion-title >cartoons Wiki</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="ion-padding">
    Esta wiki contiene una diversa cantidad de personajes de los cuales puedes elejir y ver su informacion relacionada
  </div>

  <ion-list color="cartoon-primary">
    <ion-item color="cartoon-primary">
      <ion-col size="3">
        <ion-img
        src="https://docs-demo.ionic.io/assets/madison.jpg"
        alt="The Wisconsin State Capitol building in Madison, WI at night"
        ></ion-img>
      </ion-col>
      Rick and morty
    </ion-item>

  </ion-list>

</ion-content>
